[2017-08-05 00:18] Alan-FGR opened #3 "coolreader.org is down"
Just reporting that coolreader.org apparently is parked by some domains company and also causes both Firefox and my AV to complain:
![image](https://user-images.githubusercontent.com/8399299/28991112-6683d01a-795a-11e7-9387-2fa7dc80786d.png)

[2017-09-03 02:13] band-a-prend opened #4 "Patch to Fix: Qt5, wxGTK2.8, wxGTK3.0 build fails and some other issues."
* Fix Qt5 build fails ( https://sourceforge.net/p/crengine/bugs/370/ )
* Fix wxwidgets build fails ( https://sourceforge.net/p/crengine/bugs/371/ )

Info:
Patch allows to build Coolreader3 with Qt5 or wxWindgets GUI for Linux systems.
Qt5 build early failed due to absence of "-std=c++11 -fPIC" options in ../cr3qt/CMakeLIsts.txt
and absence of Qt5 libraries in linking library list of ../cr3qt/CMake

[2017-09-14 03:08] zhjunliu opened #5 "How to build this library for android?"

[2017-09-15 13:34] buggins commented on #3
I've forgot to pay for domain name registration and now it's lost.

[2017-09-15 13:35] buggins commented on #5
Use Eclipse with Android SDK - open project from crengine/android dir.

[2017-09-20 07:32] zhjunliu commented on #5
The compiled cr3engine-3-1-1.so is too large(9MB),  How do I remove unnecessary code from Android?

[2017-09-26 12:18] buggins commented on #5
Check jni/Application.mk for APP_OPTIM
Ensure it's set to release, not debug.

    APP_OPTIM := release

[2017-12-23 11:14] ChristophHaag opened #6 "Android crash"
When browsing files or opening a document (after enabling simple folder view).

Honor 6X.

[code]

That's all the info I have right now.

[2018-05-07 07:17] buggins commented on #5
Will put instructions here:

https://github.com/buggins/coolreader/wiki/developent-environment-android

(TODO)

[2018-05-13 21:44] band-a-prend commented on #4
This issue can be closed as RESOLVED as Qt5 issue was fixed in  #14
and other wxWIdgets issues was fixed in #16.

[2018-05-23 10:37] buggins commented on #4
Fixed by merging pull requests

[2018-05-23 10:37] #4 closed

[2018-07-31 09:26] buggins commented on #5
Wiki is updated: https://github.com/buggins/coolreader/wiki/developent-environment-android

Closing this issue as resolved.

[2018-07-31 09:29] #5 closed

[2018-08-01 15:29] petigPelle opened #23 "In-App refresh for eInk devices"
Hey,

I am not sure whether you're aware that your CoolReader has grown pretty popular on the german Tolino  eReader device. It ships with a closed source standard app that is alright in terms of usage, but also has some restrictions you obviously can't fix. That's why many users use a little workaround to install alternative reader apps such as yours.

Anyway, along with the recent update Android

[2018-08-01 16:09] Frenzie commented on #23
@petigPelle Would you happen to have any information/docs/API about what this "moving responsibility to the app" means?

[2018-08-06 08:10] buggins commented on #23
CoolReader uses manufacturer and device ids to identify device as E-ink.
In general, when e-ink device is detected, rendering mode is switched to 16 levels of grayscale + dithering. Color scheme is fixed to black on white.
For some devices, there is a support of update mode changing. This options is device specific.
Usually, some dynamic library should be loaded, and some function(s) from it shoul

[2018-08-06 08:11] buggins commented on #6
Probably fixed by virxkane's commit.

[2018-08-06 08:11] #6 closed

[2018-08-07 06:58] petigPelle commented on #23
Alright, thanks for your comments. I am talking about this device: https://mytolino.com/tolino-shine-2hd/technical-specifications/

The only thing I could find out from my model is, that its **model number** is 'tolino' which isn't very helpful I would guess.

If you can tell me how to provide you with more information (given, you would actually consider to implement a controller) I will gladly do

[2018-08-08 12:35] buggins opened #32 "OPDS issue with https://coollib.com/opds"
Catalog navigation fails with error 404

[2018-08-14 11:11] buggins commented on #32
Fixed by virxkane

[2018-08-14 11:11] #32 closed

[2018-08-14 12:25] buggins opened #37 "Optimize harfbuzz based kerning performance"

[2018-08-14 12:26] buggins opened #38 "Check if text storage format and compression change may improve performance"

[2018-08-15 07:45] buggins opened #40 "Document Info dialog"
It's useful to see document properties for some document types like epub or fb2.

User request: Hello, is there a possibility to read the metadata of a e-pub file, i alwais insert in calibre information about the book, but i can't find a way to read it in cool reader. Thanks!

[2018-08-27 06:58] buggins opened #43 "OpenGL based rendering for pages"
Rendering is too slow on devices with big screen (FullHD, 4K...)
Some parts may be merged from CoolReader GL.

[2018-08-27 07:00] buggins opened #44 "java.lang.RuntimeException in org.coolreader.db.CRDBServiceAccessor.get"
java.lang.RuntimeException:
   at org.coolreader.db.CRDBServiceAccessor.get (CRDBServiceAccessor.java:24)
   at org.coolreader.crengine.BaseActivity.getDB (BaseActivity.java:89)
   at org.coolreader.crengine.CRRootView$4.run (CRRootView.java:237)

604 crashes detected so far

[2018-08-27 10:01] buggins opened #45 "Crash on propsApply"
1,053 occurences

pid: 0, tid: 0 >>> org.coolreader <<<

backtrace:

  #00  pc 00000000000990b6  /data/app/org.coolreader-2/lib/arm/libcr3engine-3-1-2.so (_ZN10LVCacheMapIP8ldomNode5LVRefI14LFormattedTextEE5clearEv+21)
   #01  pc 000000000012c315  /data/app/org.coolreader-2/lib/arm/libcr3engine-3-1-2.so (_ZN9LVDocView10propsApplyE9LVFastRefI14CRPropAccessorE+2804)
   #02  pc 00000000000746e9  /dat

[2018-09-06 03:57] virxkane commented on #45
On what architecture? arm64-v8a, x86, etc?

[2018-09-06 03:58] virxkane commented on #45
Witch version? 3.2.9-1 ?

[2018-09-14 06:36] ycsghr opened #47 "I need help"
I want to import him into Android Sudio, but he gave an error. I don't know what I should do next.
![image](https://user-images.githubusercontent.com/34826145/45533755-54c37400-b82b-11e8-932c-6ec76eaa04bd.png)
![image](https://user-images.githubusercontent.com/34826145/45533779-6442bd00-b82b-11e8-927f-0ff34872ac4e.png)
I hope I can get a detailed explanation telling me what the first step should b

[2018-09-29 05:08] virxkane commented on #47
Very strange error. Try to install AndroidSDK into other directory, for example, d:\android-sdk. Maybe it's help you.

[2018-10-25 07:04] buggins opened #54 "Android: dictionary mode"
When dictionary mode is on, single touch on word opens dictionary.
For turning pages in this mode, use swipe.
For opening menu, use long tap on any tap zone.

[2018-10-30 09:39] radioxoma opened #55 "Inproper ONYX BOOX i63ML Newton detection"
ONYX BOOX i63ML Newton not being detected as `EINK_ONYX`. [This commit](https://github.com/buggins/coolreader/commit/93fe00e2d18ae80ead9a62962094e6d9d88e8a96#diff-ed958d28493814ded368d932a2436544) is too strict. My devise brand is 'MacCenter' (not 'maccentre') and manufacturer is 'Onyx-Intl' (not 'onyx'). Here the `build.prop`'s from latest two Newton i63ML firmwares:

    2014-08-25-update-050fb0

[2018-10-30 10:50] buggins commented on #55
Thank you for reporting this. Fix seems to be easy.

[2018-11-13 09:47] norbi24 commented on #23
Hi Vadim,
There is already TolinoEpdController in coolreader, which uses the "Screenhelper" wrapper for the libepd.so library on the Tolino devices. It was working fine until Tolino FW 10.1.0, running on Android 4.0.4, but now they upgraded fro FW 11.2.3 which uses Android 4.4.2, and since then coolreader is not working - it is not able to execute next/previous page commands.
It doesn't matter whi

[2018-12-09 16:32] mirh commented on #23
In the thread above, IIRC I had found EPubProd.apk to contain all the magic.

[2019-01-03 12:54] wordlessly opened #60 "Allow build under Linux"
More of a feature request issue. How do I build this for Linux?

[2019-01-03 13:11] Frenzie commented on #60
Same way you build it for any platform? https://github.com/buggins/coolreader#packaging is specifically about Linux DEB packages, and https://github.com/buggins/coolreader#cmake-build-instructions is just generic.

[2019-01-03 13:12] wordlessly commented on #60
An appimage release would be really helpful: https://appimage.github.io/apps/

[2019-01-15 10:18] mcepl opened #66 "Switching language in TTS according to the langauge of the document"
(this is roughly the same as [this Sourceforge bug](https://sourceforge.net/p/crengine/feature-requests/17/), but reformulated)

I guess there is plenty of people who read books in multiple languages (e.g., majority of those who are native non-English have some English books together with books in their native language). If we want to use TTS on them (and thank you, that Coolreader has actually wo

[2019-01-21 16:14] pazos opened #68 "Recognize Energy Sistem eReaders as Eink devices"
Hi, first of all, thanks @buggins for your wonderful software!

I see that @virxkane added support for onyx devices. I would like to use a subset of that to add support for energy sistem ereaders (they're just another boyue clone based on rk3026 platform).

I tested that Onyx fast update works on my device by changing device brand and device manufacturer. High quality & fast mode 2 didn't work.

T

[2019-01-25 00:25] glixx opened #71 "spurious-executable-perm"
coolreader3-debuginfo.x86_64: W: spurious-executable-perm /usr/src/debug/coolreader-cr3.2.27/crengine/src/hyphman.cpp

coolreader3-debuginfo.x86_64: W: spurious-executable-perm /usr/src/debug/coolreader-cr3.2.27/crengine/src/lvrend.cpp

coolreader3-debuginfo.x86_64: W: spurious-executable-perm /usr/src/debug/coolreader-cr3.2.27/crengine/src/lvtextfm.cpp

[2019-01-25 00:40] glixx opened #72 "chmlib-0001-Patch-to-fix-integer-types-problem-by-Goswin-von-Bre.patch"
[code]

[2019-01-25 00:41] glixx opened #73 "chmlib-0002-Fix-for-extract_chmLib-confusing-empty-files-with-di.patch"
[code]

[2019-01-25 14:20] #71 closed, assigned to buggins

[2019-01-25 14:30] buggins commented on #68
isn't sistem a misspelling? adding both sistem and system just in case

[2019-01-25 14:50] pazos commented on #68
@buggins, yes sistem is a misspelling, but not mine, you could ask the company @ https://www.energysistem.com/en

[2019-01-28 05:56] #72 closed

[2019-01-28 05:56] #73 closed

[2019-02-21 12:15] carlinux opened #79 "Support for eink in Boyue Likebook Mimas"
Hi, First of all, thanks a lot for your great work @buggins. CR is amazingly good.

I realized that my CR don't refresh the screen in this device (boyue T103D "Likebook Mimas") in koreader and I found in the BoyueLauncher.apk some potentially useful classes in case it could be possible to add support for this device.
In the boyueOS app (boyuelauncher.apk) in Classes.DEX (com.boyue.api.impl )
![scr

[2019-02-22 22:22] carlinux commented on #79
I think we found in the koreader repo issue the Rockchip3368 classes needed to invoke refresh from the above linked APK

classes1.jar!/com/boyue/api/IBoyueApi.class

    package com.boyue.api;

    import android.view.View;

    public abstract interface IBoyueApi
    {
      public abstract void a2Refresh();

      public abstract void a2Refresh(View paramView);

      public abstract void autoRe

[2019-02-24 06:43] avsej opened #80 "LICENSE file in the root of project"
Hi, would it be possible to create `LICENSE` or `COPYING` file in the root of the project with contents of https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt?

It will help packaging the project in some linux repositories

[2019-03-05 16:30] Kdio opened #81 "Custom font doesn't stick after losing focus [Android]"
Android version 3.2.29-1

I've installed, long ago, a TTF font to the subdir of /.cr3/fonts but unfortunately after the app loses focus (goes background) and is called back (foreground) the default font comes back alive.

To resume the custom font I have to go **Options** >> **CSS** >> check **Enable document internal styles** >> resume reading and back to **Options** unchecking the previous optio

[2019-03-06 18:29] laz2727 opened #82 "Cannot open very large books"
From the last Android Market update, I cannot open very large books anymore. The reader hangs at the last tick of "formatting document".

[2019-03-06 18:30] #82 closed

[2019-03-06 18:43] laz2727 commented on #82
After deleting literally every cache and redownloading the book in question, I can somewhat confirm this is not quite the case, but I can certainly say this is not the first time cr suddenly stopped reading a file above a certain page count.

[2019-03-09 03:29] Kdio commented on #81
Just to confirm that a downgrade to 3.2.9-1 doesn't show the issue above described. Works flawlessly.

[2019-03-29 22:58] phoe opened #88 "signed integer overflow: -1909805408 * 31 cannot be represented in type 'int'"
Built on debian sid using the method in README.

After `sudo make install`:
[code]

[2019-04-15 13:32] link2xt commented on #80
By the way, it is not clear if CoolReader is [GPL-2.0-only](https://spdx.org/licenses/GPL-2.0-only.html) or [GPL-2.0-or-later](https://spdx.org/licenses/GPL-2.0-or-later.html).

[2019-04-15 13:43] link2xt opened #90 "Paragraphs inside list items are displayed on a separate line"
Here is an HTML file to reproduce the bug:
[code]

I opened it with `cr3qt/cr3` and it is displayed as follows:
![1](https://user-images.githubusercontent.com/18373967/56137315-37ab7b00-5f9d-11e9-8ed5-2c4e42f4f5d2.png)

In Firefox, all list items look the same:
![1](https://user-images.githubusercontent.com/18373967/56137362-54e04980-5f9d-11e9-935e-7a21839a2fda.png)

Same HTML packed in EPUB also

[2019-04-15 19:01] Frenzie commented on #90
It'd be a good idea to look at the KOReader modifications in this matter. It renders correctly:

![Screenshot_2019-04-15_20-59-24](https://user-images.githubusercontent.com/202757/56158068-5b80b800-5fc1-11e9-995e-1d5c7d99af12.png)

(Add a `<style>p {text-indent:1em}</style>` to the document to give Fx the same styles as our defaults.)

[2019-04-15 21:36] link2xt commented on #90
Interesting, I did not know that KOReader is based on crengine.
A link for reference: https://github.com/koreader/crengine

[2019-04-15 22:04] link2xt commented on #90
I have compared this repo with https://github.com/koreader/crengine

It seems there are changes specifically fixing this bug in koreader: https://github.com/koreader/crengine/commit/81b8707216412fc095070f823600af139e508da1

[2019-04-15 22:52] link2xt opened #91 "Merge with KOReader fork of crengine"
KOReader developers (ping @Frenzie @poire-z) maintain a fork of crengine: https://github.com/koreader/crengine/ Quick diff shows that there are list item display fixes (see #90), several new CSS properties support, fix for `<cite>` bug (https://sourceforge.net/p/crengine/bugs/268/) and other enhancements. Are there any plans to merge these fixes back into coolreader?

Related issue about another f

[2019-04-16 13:14] Frenzie commented on #91
To provide some context, upstream was regrettably inactive for several years, which led to our divergence from it. We've had good improvements in HTML and CSS conformance over at the KOReader fork during that time, as well as speed. (Plus some nifty additional features like user style tweaks.) Since this very GH repository revived upstream it has given us HarfBuzz, which is also very neat.

Our cr

[2019-04-25 23:27] circulosmeos commented on #81
Just to confirm that this is a version issue of 3.2.29-1, no matter what font.
Excellent app btw !

[2019-05-12 17:29] probonopd opened #94 "Cannot compile on Linux"
This is my Travis CI build script:
https://github.com/probonopd/coolreader/blob/patch-1/.travis.yml

This is the complete build log:
https://api.travis-ci.com/v3/job/199509649/log.txt

[code]

[2019-05-12 17:29] probonopd commented on #60
I am working on it, but it is currently being blocked by https://github.com/buggins/coolreader/issues/94.

[2019-05-13 16:21] virxkane commented on #94
Actual error in your log:

Include pathes for freetype in coolreader is non-stantard, so add next option to cmake:
-DCMAKE_CXX_FLAGS="-DUSE_FREETYPE2"
See crengine/src/lvfntman.cpp. In old freetype version, for example 2.5.2 in Ubuntu 14.04, headers placed in /usr/include/freetype2, in recent version - /usr/include/freetype2/freetype. I don't know when this changed.

[2019-05-13 16:25] virxkane commented on #94
Also is a good idea replace `make -j$(nproc)` with `make -DVERBOSE=1 -j$(nproc)` for more verbose build log.

[2019-05-13 17:06] virxkane commented on #94
Also you can use installed HarfBuzz library (`apt-get install libharfbuzz-dev`), but in Ubuntu 14.04 it's very old.

[2019-05-13 17:47] probonopd commented on #94
Thank you, I was able to compile CoolReader and upload an AppImage for testing to https://github.com/probonopd/coolreader/releases/continuous/.

One thing that is not correct seems to be

[code]

Instead of loading stuff from a hardcoded fixed loction at `/usr/share/`, these paths should be constructed relative to the main executable directory, e.g., using `QCoreApplication::applicationDirPath()`.

[2019-05-13 17:54] #94 closed

[2019-05-13 17:57] virxkane commented on #94
Sorry, proper command to verbose build:
`make VERBOSE=1 -j$(nproc)`

[2019-05-13 17:59] probonopd commented on #94
Sent a pull request at https://github.com/buggins/coolreader/pull/95.

[2019-06-13 09:49] oceanzhang01 opened #98 "Android OpenGl Version"
How can I find android opengl version source code?   does it not open source ?

[2019-06-13 20:37] radioxoma opened #99 "Orbot HTTP Error 405"
I'm trying to use Tor onion service as OPDS catalog through Orbot, but getting an HTTP Error 405 (Method Not Allowed). Resent Orbot version from F-Droid (16.0.5) provides VPN, so, may be  it's better to get rid of all onion-link related code and [implicit proxy handling][1]?

Similar [issue][2] on 4pda.

[1]: https://github.com/buggins/coolreader/blob/0ed7034fc8980d7c3e3ead2bc846c9405560affc/andro

[2019-07-18 07:29] karma-sun opened #101 "Too slow and sometimes hang when open a large text book"
version:latest 3.2.31
platform:Android 8.0 arm v7a
book format: plain *.txt file
App use at least 15-30 seconds when I open a large book(file size is 10M and has nearly 87000 lines)

[2019-07-22 07:08] ted423 opened #102 "need zh-cn fonts"
like https://github.com/adobe-fonts/source-han-sans

[2019-07-22 07:27] virxkane commented on #102
What you mean? This projects don't contains any fonts. Incorect text rendering or something else?

[2019-07-22 07:31] virxkane commented on #98
https://github.com/buggins/cr3gl

[2019-07-23 07:12] ted423 commented on #102
can't display chinese ,display "?"

[2019-07-23 13:44] virxkane commented on #102
For Android see manual inside program or here:
https://github.com/buggins/coolreader/blob/master/android/res/raw/help_template_en.fb2
Create folder Fonts on SD card and put *.ttf into this folder. Then restart CoolReader and select new font in options.

[2019-07-31 09:18] ted423 commented on #102
thanks,I'll try

[2019-08-22 11:08] jack6th commented on #102
How to display Chinese with pc version cr3-win32-qt-opengl-3.3.61.zip ?

[2019-09-15 17:39] leela52452 opened #106 "where is your official development ? sf or github ?"
github description says `Official mirror of CoolReader project. Sourceforge: https://sourceforge.net/projects/crengine/`

however [README](https://github.com/buggins/coolreader/blob/master/README.md) says `Development is moved to GitHub`

[2019-10-03 11:21] jdek opened #109 "Need `libintl_gettext` on musl libc"
The musl libc doesn't have the `libintl_gettext` symbol builtin, I think you should manually link `-lintl` or find gettext, I'm not sure.

[code]

[2019-10-03 13:25] Frenzie commented on #109
Are you implying there's a libc that *does*?

[2019-10-03 14:02] jdek commented on #109
I'm not sure, just know that it's not an issue with glibc. My assumpton is that glibc builds gettext into the C library.

[2019-10-03 14:17] Frenzie commented on #109
libintl.h seems to be a part of glibc, and indeed there's some kind of gettext implementation included. Interesting.

[2019-10-14 08:43] leela52452 opened #112 "website is incorrect on your progil"

[2019-10-14 08:46] virxkane commented on #112
@leela52452 Also see issue #3.

[2019-12-04 22:59] jabyrd3 commented on #79
hm i'm really intersted in this but i'm not very good with reverse engineering java

[2019-12-04 23:41] Frenzie commented on #79
You don't need to reverse engineer it since that's already been done. Just take a look in https://github.com/koreader/android-luajit-launcher/tree/749172127614c8e63602844ec1140a4ee2f56ae5/app/src/org/koreader/launcher/device/rockchip ;-)

[2019-12-05 17:52] jabyrd3 commented on #79
heh yeah i discovered koreader last night and am just using it now, thanks :D

[2019-12-05 19:49] Frenzie commented on #79
Not quite what I meant but sure, no problem. :-)

[2020-01-15 10:49] buggins commented on #106
github

[2020-01-15 10:50] buggins commented on #106
Updated description.

[2020-01-15 10:53] buggins opened #122 "OPDS catalogs list is obsolete"
Catalog list should be refreshed.
Some bugs to be fixed: infinite progress message, unsupported redirects

[2020-01-15 10:54] #122 closed

[2020-01-17 06:23] buggins opened #123 "GoToPage feature doesn't work properly due to unnecessary resize"
Reproducible on Android 7 simulator.
When on-screen keyboard is shown, book view is being resized, so page numbers do not match real ones for normal window size.

[2020-01-17 06:25] buggins commented on #68
EINK_ENERGYSYSTEM = (
			(BRAND.toLowerCase().contentEquals("energysistem")||BRAND.toLowerCase().contentEquals("energysystem")) &&  MODEL.toLowerCase().startsWith("ereader"));

I believe detection should work. Closing issue.

[2020-01-17 06:25] #68 closed

[2020-01-17 07:55] #123 closed

[2020-01-17 08:18] buggins opened #124 "Android version: slow startup when connection is slow"
Due to getting package and in-app purchases of donations from google play, application startup hands on getting this data.
It's needed only in About dialog. Simple fix possible: delay getting donation information until About dialog is open.

[2020-01-27 07:27] #91 closed

[2020-01-27 20:28] pazos opened #126 "Android: processIntent is broken for Intent.ACTION_VIEW if the scheme of the uri is content."
The behaviour is not something new, but each day is more common because of the uriExposedException on api level 24+. That makes most filemanagers forced to feed a content scheme via a fileProvider.

I see you're trying to figure out the file path in https://github.com/buggins/coolreader/blob/master/android/src/org/coolreader/CoolReader.java#L298-L354. This fails on most filemanagers, which leds to

[2020-01-28 02:58] virxkane commented on #126
@pazos thank you. I will try to fix this. Which file manager I must use to get this error?

[2020-01-28 03:03] virxkane commented on #126
And can you upload your epub test files to test the new features that we got with PR #125?

[2020-01-28 05:47] bk99ru opened #127 "заменить файл "android\res\drawable\bg_paper1.jpg""
Проблему описал здесь:
https://4pda.ru/forum/index.php?s=&showtopic=191747&view=findpost&p=86535105
Если кратко: заменить файл "android\res\drawable\bg_paper1.jpg" на новый.
Новый фоновый рисунок (без точки) приложил в аттаче
![bg_paper1](https://user-images.githubusercontent.com/60378150/73238655-44b3f680-41cc-11ea-891f-346afcf72d87.jpg)

[2020-01-28 05:54] virxkane commented on #127
But maybe someone likes the file with a dot more, maybe it’s more correct to create a new file?

[2020-01-28 17:58] pazos commented on #126
The screenshots was made using [Material Files](https://f-droid.org/en/packages/me.zhanghai.android.files/) but can be reproduced on any other filemanager, like Explorer, Root Explorer, Simple Explorer, etc.

An example of an app that works fine in Coolreader is [amaze](https://f-droid.org/en/packages/com.amaze.filemanager/). This is built with a low targetApi and send files to coolreader.

A good

[2020-01-28 18:05] virxkane commented on #126
Ok, thank you.

[2020-02-02 17:45] cybersphinx opened #128 "Search in Wikipedia app broken"
It looks like they changed the search a while ago in https://github.com/wikimedia/apps-android-wikipedia/commit/6c188f765b3a6b0fbea86067125d6041c9addf60 and https://github.com/wikimedia/apps-android-wikipedia/commit/ce9f4447faa94626939073e34a1e5376c33f5816. I guess changing .main.MainActivity to .search.SearchActivity in https://github.com/buggins/coolreader/blob/master/android/src/org/coolreader/

[2020-02-04 12:33] chanclr opened #130 "feature request: Autoscroll on Windows version"

[2020-02-07 01:05] pazos commented on #126
In fact #129 fixes the issue with both Material Files and Root Explorer, thanks!

[2020-02-07 01:05] #126 closed

[2020-02-07 01:22] pazos commented on #60
To build against qt5

[code]

resulting binary is in `cr3qt/cr3`

[2020-02-07 22:03] probonopd commented on #60
I have sent a pull request that would produce an AppImage, but https://github.com/buggins/coolreader/pull/95#issuecomment-494528887 would need to be fixed for it to work.

[2020-03-18 13:36] MikWas opened #132 "Android: app crashes while running TTS in backgroud"
**Sympthoms**
- While TTS is running in the background the app crashes frequently.
- The current position is not remembered. It's required to search the position manually once the app is started again.
- If the user's ViewMode setting is "Pages" before the crash, then it's overwritten with the setting "Scroll" that is temporarily active during the TTS processing.

**Assumptions**
- The CoolReader

[2020-03-26 17:07] TheCakeIsNaOH opened #134 "Android add momentum in scroll view"
In the Android app in scroll view mode, when I lift my finger, the document stop scrolling immediately. It would be nice it if had momentum and kept scrolling a bit after I lift my finger.

Momentum works in the table of contents, options, when browsing through a catalog, and everywhere else that I have had to scroll except for the document reader itself.

[2020-04-14 06:07] DonaldTsang opened #135 "Considerations for other formats"
According to https://manual.calibre-ebook.com/faq.html#what-formats-does-calibre-support-conversion-to-from there are other formats that coolreader does not cover.
- [ ] AZW, AZW3 and AZW4 (Amazon Ebooks)
- [ ] CBZ, CBR and CBC (Comic Book Files)
- [ ] DOCX (which is different from DOC)
- [ ] ODT (Open Document, similar to DOCX)

There are also other formats that may be of concern but are more rar

[2020-04-24 09:20] DonaldTsang commented on #135
For https://github.com/BasioMeusPuga/Lector :
- [ ] Markdown

For https://github.com/koreader/koreader
- [ ] CBT

[2020-05-10 14:21] ssten opened #137 "3.2.39 broken table view and some others"
After updating to 3.2.39 I've find that coolreader begins incorrectly display tables, missing empty lines and change behaviour in display documet's sections.

Previous (expected) view
![3 2 2 1-r2](https://user-images.githubusercontent.com/2209401/81501718-77e54600-92e2-11ea-8fc1-d7372a0bf5a4.png)

3.2.39 view:
![3 2 39](https://user-images.githubusercontent.com/2209401/81501719-79167300-92e2-11ea

[2020-05-10 14:24] ssten commented on #106
Please don't forget to update the «About CoolReader F1» section in menu:
![cr3_about](https://user-images.githubusercontent.com/2209401/81501816-022daa00-92e3-11ea-8b7c-46e73788fd5a.png)

[2020-05-10 14:55] poire-z commented on #137
I don't see the missing lines, and dunno about document sections. Is that a FB2 document?

For the changes in tables rendering, I don't think it's incorrect in an EPUB context (but may be it is in the FB2 context): it's some change introduced in KOReader (and picked by CR 3.2.29) to display tables as the CSS specs say and as browsers do (see https://github.com/koreader/crengine/pull/243).
If you w

[2020-05-10 15:22] ssten commented on #137
It is the same fb2 file, generated from first example of OOoFBTools.
ExportToFB21_example-1.fb2

[2020-05-14 14:35] zivids opened #138 "How to load book in android Q scoped storage"
File path is not working in Android Q scoped storage, it can not load file through file or file path

[2020-05-16 22:55] GaanGo opened #139 "Bug. Files transfered to Coolreader are not opened. With pop-up "Trying to load book from non-standard path""
Bug. Files transfered to Coolreader are not opened. With pop-up "Trying to load book from non-standard path". Then the screen says "Can't open file "/external_files/###-####/directory of ebooks/filename".
This happens when i try to open the file from Calibre companion and from 2 different file managers.

![Screenshot_20200517-004511_Cool_Reader 1](https://user-images.githubusercontent.com/65252398

[2020-05-16 23:04] GaanGo commented on #139
The device i am using is a Galaxy S9+, android version 10.

[2020-05-24 07:11] ssten opened #140 "3.2.39 (fb2) hidden text formatted with built-in styles"
One of historical advantages of CoolReader was the support of styling, including built-in styles for spacing text formatting.

In 3.2.39 this feature is broken.

I.e. file:

[code]

Displays only:

[2020-05-24 07:43] poire-z commented on #140
Didn't know that `<style>` was a proper FB2 element.
In EPUB, it's mostly used in the `<HEAD>` element, and I had hardcoded it to be hidden by default (because when disabling stylesheets, it would otherwise show):
https://github.com/buggins/coolreader/blob/26014a17806d91615d48214d19d29579c8992d42/crengine/include/fb2def.h#L48

You can have it working again I think by adding in fb2.css:
[code]

[2020-06-24 15:31] pazos commented on #138
Coolreader didn't enforce Android Scope storage. Duplicate #138. Related #126

[2020-06-24 15:34] pazos commented on #139
#129 is a partial fix that works (or worked, I didn't try again) on some filemanagers. Probably the original issue #126 is still unfixed.

[2020-06-24 22:06] SilverThunderbird commented on #139
This has become an issue with Calibre Companion users. Since the app was rewritten with updated APIs, Coolreader fails to load books via Calibre Companion. Here's the error screen I get (similar to the one posted by GaanGo):
![error](https://user-images.githubusercontent.com/67395262/85632099-aa55c300-b644-11ea-906a-7921c1dd06e5.jpg)
This does not affect Android 4.x users, who are locked to the ol

[2020-08-06 13:00] #128 closed

[2020-08-06 14:17] virxkane opened #148 "segfault in 3.2.43"
Affected version 3.2.43.

Throw SEGFAULT with unknow document. Stack trace below:
[code]

After addr2line:

[code]

[2020-08-06 14:54] virxkane commented on #148
Negative m_text_pos, inconsistense value of variable 'len'?
https://github.com/buggins/coolreader/blob/526fcb219cb7f06d015e75800350476b5bed8f35/crengine/src/lvtinydom.cpp#L7708-L7771
https://github.com/buggins/coolreader/blob/526fcb219cb7f06d015e75800350476b5bed8f35/crengine/src/lvtinydom.cpp#L7821-L7837

[2020-08-06 16:15] poire-z commented on #148
I have no idea. And I'm not familiar with this code, and even base64 itself.
I checked with an empty `<img src="data:image/jpg;base64,">` or a truncated one `<img src="data:image/jpg;base64, whatever">`, and I didn't get a crash.

[2020-08-06 18:03] pkb commented on #148
Most likely this is fb2. So we need something like:
[code]

[2020-08-06 18:06] pkb commented on #148
[bad_img.zip](https://github.com/buggins/coolreader/files/5037041/bad_img.zip)

[2020-08-06 18:16] virxkane commented on #148
@pkb Thank you! Now I can use debugger :) Or you already fixed?

[2020-08-06 19:11] virxkane commented on #148
It's so simple? Just set initial value in constructor?

[2020-08-08 20:49] thecodder opened #151 "coolreader-3.2.44 error compile (wxwidgets)"
[code]
linux, gcc version 10.2.0 (Gentoo 10.2.0 p1)

[2020-08-10 12:03] virxkane opened #152 "segfault in 3.2.44"
Affected version 3.2.44.

SEGFAULT with unknow document. Backtrace:
[code]

After addr2line:

[code]

[2020-08-10 14:17] poire-z commented on #152
No idea. Can't see where it would crash, and can't reproduce a crash by tweaking the src= in some toc.ncx (making it wrong, empty, stop after the #...)
[code]

[2020-08-10 15:13] uap4 opened #153 "Android version: Swapped "comment" and "correction" in sent bookmarks."
In the resulting text, when a bookmark is sent, instead of "comment" is written "correction", and vice versa. Exporting to a file does not have this problem. Maybe remove the "!" on this line?
https://github.com/buggins/coolreader/blob/a0aff34d866abaf33de8b5cd7abeb0542de0f3dd/android/src/org/coolreader/crengine/BookInfo.java#L224
В получившемся тексте, когда закладки отправляются, вместо "comment"

[2020-08-11 04:53] virxkane commented on #153
Yes, it looks like that.

[2020-08-14 14:01] uap4 commented on #153
Thank. In cr3.2.45 release this works fine.

[2020-08-14 14:01] #153 closed

[2020-08-15 10:06] #148 closed

[2020-08-17 04:02] virxkane commented on #151
@thecodder Can you test latest version?

[2020-08-30 11:58] jukebox1001 opened #159 "Adding fonts (Windows, version 3.3.61"
Not sure if I have come to the right place but here goes...

How can I add fonts to CoolReader 3.3.61 in Windows?

With Android or the old Windows/Linux Version 3.0.56-42 I can create a folder FONTS and copy fonts into this folder and they become available in the font selection (the same works for hyphenation libraries into folder HYPH), however, this does not seem to work for version 3.3.61. Am I

[2020-09-10 21:36] virxkane opened #167 "segfault in 3.2.47"
Affected version [3.2.47](https://github.com/buggins/coolreader/tree/cr3.2.47).
signal 11 (SIGSEGV), code 1 (SEGV_MAPERR)
No information about document.
Backtrace after utility addr2line (in frame '#00' possible some inline function):
[code]

[2020-09-16 07:22] virxkane opened #170 "segfault (stack overflow) in 3.2.49"
Affected version [3.2.49](https://github.com/buggins/coolreader/tree/cr3.2.49).
As usual, there is no information about the document.
Backtrace after utility addr2line:

[code]
Related to https://github.com/koreader/crengine/pull/370

[2020-09-16 07:23] virxkane commented on #170
@poire-z Can you see what could be wrong?

[2020-09-16 11:33] poire-z commented on #170
Well, I can't find out how to reproduce it.
I can't find out how logically this can happen:
[code]

I'd like to find an aswer to that why :) but I can't see anything that could twist id or tag_id that would make that happen. Can you have a quick look if you see a why ? (no real need to understand the algo, it's just following the logical C code and conditions).

Anyway, this patch might help avoid

[2020-09-17 14:24] poire-z commented on #170
Made this patch into https://github.com/koreader/crengine/pull/379

[2020-09-17 17:01] virxkane commented on #170
@poire-z Sorry, I have no time at all now.

[2020-09-29 17:48] virxkane commented on #132
@MikWas Can you test latest (3.2.49) version? I hope it's fixed in #169.

[2020-09-29 17:54] virxkane commented on #66
Simple implementation added in #169.

[2020-10-13 17:15] sinsan-hub opened #178 "не хочет собираться под linux"
Не хочет собираться прога под линукс, в последних версиях.
Более ранние собирались, например в cr3.2.35 было всё ОК.
Вот такая ошибка:
coolreader-cr3.2.45/crengine/src/textlang.cpp:678:40: error: ‘LBP_ZWJ’ was not declared in this scope
     _lb_props[n++] = { 0x00AD, 0x00AD, LBP_ZWJ };

[2020-10-16 07:10] virxkane commented on #178
Update **libunibreak** library to version 4.0.

[2020-10-18 06:09] shockergit opened #181 "Please Update the Windows Version its been 5 years!"
Please Update the Windows Version its been 5 years just give one update or do a YouTube video on how to make an exe file from source. Windows dont have any good ebook readers. even fb reader is discontinued for 10 years

[2020-10-19 08:09] shockergit opened #182 "Windows version not opening mobi files"

[2020-10-19 08:11] shockergit commented on #151
Can you compile a windows version

[2020-10-19 13:08] ysrs commented on #181
how to build a windows version?

[2020-10-23 10:59] #167 closed

[2020-11-08 14:10] virxkane opened #194 "Segfault in 3.2.50"
Affected version [3.2.50](https://github.com/buggins/coolreader/releases/tag/cr3.2.50) (android).
signal 11 (SIGSEGV), code 1 (SEGV_MAPERR)
No information about document.
Backtrace after utility addr2line:

[code]

The same before addr2line:
[code]

[2020-12-07 07:34] #80 closed

[2020-12-08 20:49] AndyMender opened #209 "New Fedora package maintainer"
It seems that instead of introductions, I submitted 3 PRs ;).

Recently, I became the new maintainer of the coolreader package in Fedora. As such, I would like to contribute to the project with various fixes whenever possible. Some might be related to updates in dependencies or changes in compiler toolchain behavior. For any fixes I'll open PRs from topic/feature branches in my fork or Issue ticke

[2020-12-11 22:58] #134 closed

[2020-12-17 17:29] jukebox1001 commented on #182
Which version are you using?

Mobi files open just fine for me in v3.0.46-42 (2012) and v3.3.61 (2015)

[2020-12-29 18:21] TeLLie opened #211 "Compiling error on OS2"
Hello
Itried to get the cr3qt compile for OS/2
I use Qt v5.13.1 and cmake 3.15.3 and gcc v9.2.0
But i get some strange errors
I attach the cmake and make output

And is there a option to disable harfbuzz ?

Crab the cmake and make output i can put on a site....
http://rpm.netlabs.org/test/Make.7z

[2021-01-06 02:15] Phoenix616 opened #213 "Can't open file in folder with dot"
It's not possible to open files that are in folders starting with a dot. The UI simply doesn't show these folders and if a file in such a folder is opened via a different file manager it just shows an error `Can't open file "/path/to/.folder/file.epub"!`

[2021-01-10 15:41] ysrs opened #223 "compile failed with QT Build under Windows"
I followed the steps of **[QT Build under Windows](https://github.com/buggins/coolreader#qt-build-under-windows)**

When I excutde make command, many errors occured. Who can help  to solve this problem. Thanks!

![QT Build under Windows](https://user-images.githubusercontent.com/29065922/104127335-89647d80-539c-11eb-880e-95649331d904.png)

12>moc_cr3widget.obj : error LNK2001: unresolved external

[2021-01-14 06:37] neurofreak-alt opened #228 "Ошибка компиляции при сборке на архитектуре e2k компилятором lcc"
Вывод компилятора:

[code]

В чём может быть проблема?

[2021-01-14 07:07] virxkane commented on #228
This is what I found in qtsring.h:
[code]
I can assume that the compiler does not support the C11 standard (iso9899:2011) or this support not enabled.
You can try adding the appropriate option to CMakeLists.txt for the lcc compiler to enable C11 support, if there is one.
Somewhere here:
https://github.com/buggins/coolreader/blob/fa832c18c1f075c07627e22f285a2da186a854c6/CMakeLists.txt#L39-L52
Or yo

[2021-01-14 07:13] virxkane commented on #228
https://www.altlinux.org/Эльбрус/lcc
But I think you've seen that.

[2021-01-14 14:54] neurofreak-alt commented on #228
Применил патч, и теперь появились другие ошибки.
Использую компилятор МЦСТ lcc версии 1.25, который по умолчанию использует стандарт С++14.
 [Здесь](http://mcst.ru/lcc) описание компилятора.

Ошибки:

[code]

[2021-01-14 16:01] mikhailnov commented on #228
Все-таки лучше не надеяться на дфеолты в компиляторе и задать в явном виде: `%global optflags %{optflags} -std=c++14`

[2021-01-14 16:03] mikhailnov commented on #228
А ошибки типа `-W*` обходятся убиранием `-Wall` или добавлением `-Wno-all` во флаги компилятора

[2021-01-14 16:26] Nable80 commented on #228
Не надо компилятор затыкать, он всегда дело говорит. К сожалению, опции ``-Wall -Wextra`` не всю полезную диагностику включают, приходится ещё досыпáть кучу флагов.

[2021-01-16 14:44] Carmina16 opened #233 "Bogus font compatibility message opening EPUBs"
https://github.com/buggins/coolreader/blob/d0026212a34e874ba3e670fa14b5f2c1a181848e/cr3qt/src/cr3widget.cpp#L1090

There is an error somewhere in this method chain: some EPUBs contain a fully specified language tag, like "pt-BR", which is passed here, but the font catalog stores bare language names, so it is not found. The country, script, and variant parts should be split from the language code s

[2021-01-16 14:51] Carmina16 opened #234 "Wrong language code for Greek"
https://github.com/buggins/coolreader/blob/3c8c97c6740e86b76b6964a6aa6a64c1ebce93dc/crengine/Tools/langstat/langstat.cpp#L74-L75

https://github.com/buggins/coolreader/blob/fa832c18c1f075c07627e22f285a2da186a854c6/crengine/src/cp_stats.cpp#L2269-L2270

The language code for Greek is `el`, not `gr`, like stated here.

[2021-01-16 15:06] virxkane commented on #233
Fixed in Android frontend in #100.
For Qt not fixed yet.

[2021-01-16 15:29] #223 closed

[2021-01-16 15:30] ysrs commented on #223
nothing

[2021-01-20 18:49] virxkane commented on #233
@Carmina16 Could you please test this #235.

[2021-01-21 14:55] #233 closed

[2021-01-31 06:36] jack6th opened #250 "Request supporting ttc font"
Most of the system CJK fonts are ttc format.
On Linux there are 'Noto San CJK' series and on Windows there are 'Simsun', 'MingLiu', 'Microsoft Yahei', ...
Please support it.

[2021-02-06 14:29] jack6th commented on #250
Now the new version support ttc font.
I installed Noto Sans CJK Regular and Noto Sans CJK Light on Windows.
(1) I cannot see Light font in the dropdown list.
(2) If I change the CJK font in the new fallback fonts manager and press OK button, I cannot see the change result until I change the Text font and press OK button.

[2021-03-08 07:35] #234 closed

[2021-03-13 14:41] vsemozhetbyt opened #269 "Massive feature degradation"
I am using now mobile beta 3.2.53-1 on Android 7 on Redmi 4A. Since one of the last updates, I've lost the toolbar and most of the settings options, the settings dialog now has just one tab with some basic options. Is it intended degradation?

[2021-03-13 18:45] virxkane commented on #269
I think you are on wrong way: screenshots 1-3:
![1_sz](https://user-images.githubusercontent.com/36960933/111040389-38304300-844c-11eb-9ef1-96733aff317a.png)
![2_sz](https://user-images.githubusercontent.com/36960933/111040394-3b2b3380-844c-11eb-86c8-64aff6b1a556.png)
![3_sz](https://user-images.githubusercontent.com/36960933/111040400-3d8d8d80-844c-11eb-8e1a-64c456d56f36.png)
It's option for inte

[2021-03-13 19:19] vsemozhetbyt commented on #269
Thank you a lot. And I am sorry for the fuss.

Unfortunately, it seems I've driven myself into a trap. It seems I've set all simple and long taps to no operation except some taps for page turning, and then in some time I've hidden the toolbar. So now I cannot open the main settings in a simple way(

[2021-03-14 01:28] vsemozhetbyt commented on #269
Fixed by deleting the settings ini file and resetting. Sorry again and thanks.

[2021-03-14 01:28] #269 closed

[2021-03-31 22:50] lxea opened #276 "400 error with calibre opds when auth is enabled"
I'm running with the calibre server like this, behind a caddy proxy however the issue is also present without it:
[code]
However cool reader shows a 400 error if i have auth enabled, it works without auth though.

[2021-04-20 18:55] roundoutandabout opened #281 "Going back after following a link."
In the `.epub` document, how to go back to the initial position after I followed a link?
The link points to another position in the document.
I thought that the tap action 'Back' is responsible for this, but it just throws me to the app's main screen.

Android version: 10
CoolReader version: 3.2.55-1

[2021-05-08 17:27] pazos opened #284 "Request: a build flavor without GMS"
Coolreader updates on F-droid are [blocked caused by the recent inclusion of Google services](https://gitlab.com/fdroid/fdroiddata/-/issues/2350). If I understand correctly they were added to support GDrive sync.

I would like to solve this but I'm not sure if upstream is wishing to spend time on reviewing this. Ideally it would be
a couple of folders under `android/app/src`. Lets call them `gplay

[2021-05-09 04:42] BrandonKMLee opened #285 "Instructions Regarding installing Binaries on Windows/OSX"
The builds for Windows and OSX seems to be missing in https://github.com/buggins/coolreader/releases/tag/cr3.2.57
Combined with this, some confusion has been asked.
- https://github.com/buggins/coolreader/issues/182
- https://github.com/buggins/coolreader/issues/181
- https://github.com/buggins/coolreader/issues/159

[2021-05-09 16:24] warren-ru commented on #284
F-droid version is definitely needed

[2021-05-09 17:29] pazos commented on #284
@warren-ru: I'm fairly sure there's no problem with an app that syncs with Google Drive if the source code that handles the sync is open sourced. The app would be flagged **no free net** or something like that.

That's not the case here, where the commit https://github.com/buggins/coolreader/commit/f7ff3813d73251e632dbabbe26351d3431609559#diff-9526ccfd1d1813ed49c39f8c54dbeb512607376a007d824b905bc8

[2021-05-10 19:50] virxkane commented on #284
I have nothing against it. The main thing is not to remove functionality from the main version.

What are the open source libraries for working with Google Drive for Android?

May be `gms.isImplemented()` is better?

[2021-05-10 20:49] pazos commented on #284
Thanks for your time @virxkane

Totally cool, as you wish!

No idea. I was talking about suppositions :). Maybe https://rclone.org/ can be used in android using a JNI wrapper.

In general I agree with you but in this case is not possible. I will try to explain:

If the feature is self-contained then you can implement it without problems and run it on the flavors you want (like checking `BuildConfi

[2021-05-11 02:17] warren-ru commented on #284
Librera uses some for Google Drive functionality.

[2021-05-11 02:40] warren-ru commented on #284
I can't say much about Librera building process. But F-Droid version has Google Drive sync either.

[2021-05-17 08:00] virxkane commented on #284
No, it's impossible. It produce "duplicate class" error. We must remove this class from main source set and add it into each flavors. https://developer.android.com/studio/build/build-variants#sourceset-build
This is bad, I don't want to split the main version sources into several directories. i.e. for the main version, in any case, we must create some flavor (with some directories for sources) exc

[2021-05-17 13:07] virxkane commented on #284
@pazos I thought you'd do it, but I couldn't wait :)
Please test #290, this is what we need?

[2021-05-17 15:51] pazos commented on #284
Oh great. I forgot about that, it seems :(

Yeah, works great.

I see you added a new Android manifest for the fdroid flavor, which is exactly the same than the main one, except for the `<uses-sdk tools:override...>`. Maybe we can use the same for both and add a new one on primary with just that part.

Also, another nit is related to donations. They won't be available on the F-Droid market. Would

[2021-05-17 16:40] virxkane commented on #284
By "primary" I mean the main flavor, so I think there should be a minimum difference between the "primary" folder and the "main" folder.

I cannot decide this question about donations without @buggins. I need to ask him, of course, it would be ideal for him to make the necessary changes, but, unfortunately, he reduced his activity in the project to a minimum.

[2021-05-17 17:15] pazos commented on #284
It is a bit difficult to explain but my suggestion would avoid to have to change stuff twice on both Manifests. Will send a PR to showcase what I'm talking about.

I understand. No problem. That can be changed later if @buggins wish.

The build script of the f-droid repo needs to be updated to fetch 3rd party deps the new way and needs some minor adjustments. I guess we need to wait for buggins to

[2021-05-17 17:32] virxkane commented on #284
About https://github.com/virxkane/coolreader/pull/10:
I understood your idea even before that. This is how I understand: f-droid flavor is an exception, for it I added an exception manifest, primary is the main flavor, I don’t want to add an exception for it, otherwise it will soon turn into a trash heap, we already have android/src, android/app/src/main, android/app/src/primary, android/app/src/f

[2021-05-17 17:41] pazos commented on #284
Yup. My point was keeping a single "manifest of truth" in `android/app/src/main` but I understand your rationale too.

Thanks for the feature, BTW :+1:

[2021-05-18 08:07] virxkane commented on #284
@pazos Ok, merged, but you forgot remove the file `android/app/src/fdroid/AndroidManifest.xml`

[2021-05-18 20:21] virxkane commented on #284
@pazos

Fixed in last commits.

Please review again, if there are no other problems I would end on this.

This one? https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/org.coolreader.yml
Add into `prebuild` section
[code]
And somehow specify flavor "f-droid".

[2021-05-19 23:34] pazos commented on #284
Sorry for the delay. Everything is fine.

[2021-05-21 06:36] #284 closed

[2021-05-24 13:58] efermi opened #292 "Blurry font rendering on a high DPI display"
With the Qt version of the app on a high DPI display the text in the book's canvas is blurry, not rendered properly.
App version: 3.2.57-1
O/S: Manjaro Linux
Global scaling factor: 2

How it looks compared to unscaled (bottom):
![Screenshot_20210524_162930](https://user-images.githubusercontent.com/3966555/119357348-1d7e1400-bcb0-11eb-9fe1-2620100c8273.png)
![Screenshot_20210524_163117](https://us

[2021-05-24 16:58] virxkane commented on #292
@efermi Can you test 3.2.57 with this patch from #293?
https://patch-diff.githubusercontent.com/raw/buggins/coolreader/pull/293.patch

[2021-05-24 19:27] efermi commented on #292
Works for me, although the UI widgets remain unscaled.
![Screenshot_20210524_222024](https://user-images.githubusercontent.com/3966555/119397616-115d7b00-bcdf-11eb-8ceb-1fab5e0f871b.png)

[2021-05-24 20:07] virxkane commented on #292
Menu, setting dialog, about dialog is scaled. Not scaled toolbar icons, scrollbar. Or something else?
I don't know about HiDPI in Qt5 enough, so for now it's all that I can do. Maybe someone will improve it.

[2021-05-24 20:21] efermi commented on #292
The fonts are scaled, but not the widgets themselves. Compare patched and original (right):
![Screenshot_20210524_231354](https://user-images.githubusercontent.com/3966555/119402755-0eb25400-bce6-11eb-9171-47b8c8197e4f.png)
Without the patch everything is scaled properly except for the fonts on the book's canvas, and with the patch the fonts everywhere become scaled properly, but the widgets are l

[2021-05-24 21:19] efermi opened #294 "CSS property not applied: `font-variant-numeric: oldstyle-nums`"
The property is being used in the core CSS of standardebooks.org epubs, see for example https://standardebooks.org/ebooks/p-g-wodehouse/jeeves-stories, and it is not applied to the rendered text even if the font supports oldstyle-nums. I'm not familiar with the project and therefore the following assumption may be wrong, but a search [reveals](https://github.com/buggins/coolreader/search?q=LFNT_OT

[2021-05-25 04:53] virxkane commented on #292
Yes indeed.
Actually we have to disable HiDPI scaling for only one widget (CR3View), but I can't find how to do this.
So, disable it for all application widgets.

[2021-05-25 06:31] virxkane commented on #292
@efermi Ok, should we apply this patch in upstream or it's too ugly?

[2021-05-25 08:08] efermi commented on #292
I think you should, overall I consider this to be an improvement, fonts are rendered perfectly everywhere now. Only few widgets remain really hard to use, namely the toolbar and the scrollbar and I consider them to be less important than the text.

[2021-05-25 13:37] poire-z commented on #294
It is supported (there might be a few caveats with inheritance, but they shouldn't trigger in the case of this book) https://github.com/koreader/koreader/issues/5821#issuecomment-600225376

The issue with this book is that our CSS parser is confused by some stuff at the start of epub/css/core.css, which makes it skip the first declaration (bug https://github.com/koreader/koreader/issues/7199):
[co

[2021-05-25 15:09] #292 closed

[2021-05-27 15:41] GavinRay97 opened #297 "An unrelated issue, apologies in advance"
Apologies for opening an issue here, but some folks from the Dlang community are interested in helping to contribute to + maintain your `dlangui` repo.

They mention not being able to get in contact with you. I wanted to share this info with you so that you were aware =)

https://forum.dlang.org/post/xgxiexbjtsxtfgudpxcu@forum.dlang.org

![image](https://user-images.githubusercontent.com/26604994/

[2021-06-23 19:54] nagayev opened #300 "Coudn't correctly install cr"
Hello. I installed cool reader few minutes ago via rpm package from https://raw.githubusercontent.com/rpmsphere/x86_64/master/c/coolreader3-3.0.56-19.1.x86_64.rpm. And after I tried to ran cr3 I got this error:
[code]
It looks like there aren't postinstall script in this rpm and cr3 can't find styles and it's files.

[2021-06-23 19:55] nagayev commented on #209
@AndyMender Hi.
Where can I find rpm for Fedora 34?
I tried to install cr from pkgs.org, but got #300.

[2021-06-23 20:08] virxkane commented on #300
@nagayev This happens when you use a 9-year old version, although there is an actual, modern one.

[2021-06-23 21:08] nagayev commented on #300
@virxkane Thanj you.
Can I install newer one?

[2021-06-24 04:16] virxkane commented on #300
@nagayev
First link in google:
https://src.fedoraproject.org/rpms/coolreader

[2021-07-04 00:38] delvin-fil opened #301 "WARN Changing log level from 3 to 1"
ERROR Loading settings from file /home/$USER/.cr3/cr3.ini
ERROR not a Word Document
**ERROR CacheFile::read: Block 15:0 not found in file**
What does "ERROR CacheFile" mean?

[2021-08-03 11:30] #300 closed

[2021-08-13 09:34] AndyMender commented on #209
I most likely haven't pushed to Fedora 34 and 35 yet. I will see whether I can do it over the weekend, because I have a bit of backlog.

[2021-08-13 16:45] IMMSPgisgroup opened #305 "Decreased image quality for bigger pictures"
As I see in Android version this application decreases image quality for bigger pictures in epub format. This isn`t very good for such images, as maps, for example.
P.S. Is this repository is source for Cool Reader on Google Play?

[2021-08-13 18:21] virxkane commented on #305
Yes it is.

Can you provide such epub-files for test purposes? This is most likely the result of non-integer (fractional) scaling.

[2021-08-13 22:25] IMMSPgisgroup commented on #305
[Screenshot_20210814_010209_org sufficientlysecure viewer](https://user-images.githubusercontent.com/33963849/129422953-80c52577-3d1a-4342-8565-d98cde96b085.jpg)
[Screenshot_20210814_005929_org coolreader](https://user-images.githubusercontent.com/33963849/129422971-6a1be9a3-3ae1-4215-8101-aa4dc3d5c027.jpg)
Some screenshotes from Document Viewer and Cool Reader.
[Sample book with image.epub.zip](h

[2021-08-14 09:24] virxkane commented on #305
@IMMSPgisgroup The reason was different.

[2021-08-17 18:41] virxkane commented on #284
@pazos Hello. We have new version 3.2.58 with #290.

Now it's your turn.
We are looking forward to the new version of CoolReader in the f-droid catalog :)

[2021-08-18 12:04] #305 closed

[2021-08-20 04:18] virxkane commented on #37
Implemented in #58.

[2021-08-20 04:18] #37 closed

[2021-08-20 04:35] virxkane commented on #66
Implemented:
![device-2021-08-20-082927-m](https://user-images.githubusercontent.com/36960933/130179447-0aca5161-421b-4cfa-95eb-9d261153e654.png)

But language switching for text fragments in multilingual documents is not implemented.

[2021-08-20 04:39] virxkane commented on #81
Fixed in #83.

[2021-08-20 04:39] #81 closed

[2021-08-20 05:05] virxkane commented on #88
Fixed in #299.

[2021-08-20 05:05] #88 closed

[2021-08-20 05:15] virxkane commented on #137
@ssten Is it still relevant, or can it be closed?

[2021-08-20 05:30] virxkane commented on #140
Fixed.
Screenshot from current master branch:
![Screenshot_20210820_092937](https://user-images.githubusercontent.com/36960933/130184263-ce1e555c-6f80-4aa6-b625-60dda259125d.png)

[2021-08-20 05:30] #140 closed

[2021-08-20 05:31] #151 closed

[2021-08-20 05:36] virxkane commented on #178
In #307 added:
277755179bb0998236aabbdc62b236f10c2aa409 Updated cmake modules: detect version.
94af32a791cce58f4b91fad35ca167ea21132c3a Set minimum required versions for thirdparty in CMakeLists.txt

[2021-08-20 05:36] #178 closed

[2021-08-20 05:39] virxkane commented on #285
Instruction to build binary for Windows (using MSYS2): #303.
For OS X: help wanted.

[2021-08-20 05:44] virxkane commented on #233
Significantly improved in #302.

[2021-08-20 07:41] poire-z commented on #294
@virxkane : I'm working on this CSS parsing issue (https://github.com/buggins/coolreader/issues/294#issuecomment-847877805) - so you don't need to (seeing you're browsing all the issues here, you might get the idea to go at it :)

[2021-08-20 08:03] AndyMender commented on #209
I did some maintenance recently and saw coolreader was rebuilt for Fedora 34 and Fedora 35 (recent branch out from Rawhide) automatically. I just need to push updates to the most recent version accordingly.

[2021-08-20 08:45] virxkane commented on #294
Ok. But, I was not going to :)

[2021-08-21 20:59] mcepl commented on #66
How far is the f-droid build from the master?

[2021-08-22 03:16] virxkane commented on #66
Now available 3.2.58: https://f-droid.org/en/packages/org.coolreader.fdroid/.
Thanks to @pazos #284.
This feature is available in 3.2.58.

After 3.2.58 added #304, #306, #307.
Changes from 3.2.58 to master: https://github.com/buggins/coolreader/compare/cr3.2.58...master

[2021-08-22 16:36] ssten commented on #137
3.2.57, table display is OK.

[2021-08-22 16:36] #137 closed

[2021-09-16 17:40] mcepl opened #313 "Android: fake results in search"
![Screenshot_20210916-142640](https://user-images.githubusercontent.com/198999/133658507-212aa39b-544e-44d7-88af-7f03a7788b80.png)

Happens to me all the time: when searching I get some results twice (although the file is in the filesystem only once) and one of the results (first in this case) just returns CoolReader to reading whatever I was reading before. Any ideas?

Using CoolReader from F-Dro

[2021-09-16 18:43] virxkane commented on #313
CoolReader looks in the database, not the filesystem.
Most likely, you have orphan records in your database instance:
* it was possible to move book files from one folder to another;
* or earlier there really were 2 copies of the file, then you deleted one, but the record remained in the database;
* in addition, it is possible that there are indeed several identical files on the device, in a place

[2021-09-16 20:09] mcepl commented on #313
I would think that “Search for books in the folder” (or how it is called in English, this is my back-translation from Czech) would do the database cleanup, doesn't it?

[2021-09-17 07:15] virxkane commented on #313
No, it doesn't.

[2021-09-17 08:30] mcepl commented on #313
OK, I'll bite. Why it doesn't?

[2021-09-17 09:19] virxkane commented on #313
Well, because nobody did. I think no one will mind if you implement a neat cleanup of the database and do a PR :)

[2021-09-17 17:02] mcepl commented on #313
Sorry, you don't want me to write a large C code.

[2021-10-25 20:52] vincentb1 opened #317 "-std=C++11 нужен не только для MSVC, и тоже для всех компилаторов."
Я получаю это:

[code]

[2021-12-16 11:59] mcepl commented on #313
Where is that database stored. I tried to clean up applications storage space and cache, but that isn’t it, right? Fake results are still present.

[2021-12-22 13:36] C6H7NO2 opened #319 "Android: change the navigation bar colour (esp. for night mode)"
CoolReader seems to enforce the white (or perhaps the default) colour for the navigation bar (the one with the Back and Home buttons at the bottom). This applies to the phones with 'soft' nav bar, which is nearly all the modern ones.

This is really bad, particularly in the night mode: bright white nav bar makes night mode unusable.

One solution is to use full screen mode. But it's not always goo

[2022-01-02 07:35] teleshoes opened #320 "read aloud TTS nav bar overlay covers words"
i frequently use the read-aloud in android version. i look at the phone occasionally when a word is weird. about 1/6 of the time, the word i want to see is underneath the TTS playback control bar.

i would love for the control bar to not cover any of the words.

ideas:
1) have scroll-mode respect top/bottom margins (in TTS and otherwise). right now, in scroll-mode, top/bottom margin values are com

[2022-01-08 16:29] fadi123go opened #321 "Recent books shuts the program."
When I try to open recent books from file menu, or when I set the software to start displaying a list of recent books from setting , the program shuts down , in the first case , or would not start in the second. I use version 3.2.27 on linux.

[2022-01-09 01:47] jack6th opened #322 "Suggestion about font weight and font warning on Windows"
1. add font weight 350 (Normal) and 100 (Thin).
Sounce Han Sans CJK has weight Normal and Noto Sans CJK has weight Thin.
2. If the user checked 'Style -> Support for multilingual documents', when opening a file,  disable or has a option to disable warning 'Font xxx isn't compatible with xxx language. Instead will be used fallback font'
Asian user will deliberately use "Text font" to display Latin

[2022-01-09 13:59] virxkane commented on #321
Why?

Fixed in #202 53048590fc4b998105349ec1d0520b0d4edb858a

[2022-01-15 04:01] virxkane commented on #292
@efermi

This drawbacks fixed.
Please test this patch: [True-HiDPI-support.zip](https://github.com/buggins/coolreader/files/7874198/True-HiDPI-support.zip)
I'm too lazy to create a pull request, if you want to do it yourself.

[2022-01-16 00:37] efermi commented on #292
I've tested the patch, everything looks right, thanks @virxkane! I'll try to put together a PR some time later if you don't do it yourself first.

[2022-01-16 04:27] szamanis commented on #320
I have this problem too. This happens for me when a paragraph is big and there isn't a full stop. I think the threshold for when to scroll is not enough gor this case .

[2022-01-16 18:01] efermi commented on #292
Hello @virxkane, there is a bug with the color preview widget, the center of the square stays white, while only the border around it changes with the selected color.
![Screenshot_20220116_205700](https://user-images.githubusercontent.com/3966555/149671905-5a58ff79-1e6b-4b4e-8354-0373bee28a08.png)

[2022-01-16 18:18] virxkane commented on #292
Hello. Try next patch:
[code]

[2022-01-16 18:37] efermi commented on #292
This fixes it. I've also noticed that chapter marks in the page header are shorter now, is it also a bug?

[2022-01-16 18:56] virxkane commented on #292
I think - no.
Starting from PR #277, chapter markers are scaled according to DPI, when using the patch in [#292 (comment)](https://github.com/buggins/coolreader/issues/292#issuecomment-1013604699) DPI is set based on screen parameters.
[code]

[2022-01-16 19:28] efermi commented on #292
All right then, I'll submit the PR shortly.

[2022-01-24 07:45] Tolsi opened #324 "Android: latest build failed for armeabi"
Looks like after release 3.1.2-33 there was an update to the Android NDK, which in version 17+ lost support for the armeabi architecture. I am the owner of Nook Simple Touch (armeabi, Android 2.1) and I wanted to try and build the latest version of Coolreader for this platform and wanted to ask for help with this. I work on this [here](https://github.com/Tolsi/coolreader/tree/armeabi)

So far I've

[2022-01-24 10:12] virxkane commented on #324
Theoretically there is a complicated workaround:
* build zlib statically with zprefix
* when build libpng specify this zlib prefix.

I've never done this, so I can't say more.

[2022-02-05 22:46] paolomi opened #325 "XDG Base Directory on Linux"
On Linux, in order to reduce the clutter in the user's home directory, coolreader should use the [XDG Base Directory specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) for its configuration directory.

For backwards compatibility, the configuration would be read initially from the current location (~/.cr3). If not found, it would be read from $XDG_CONFIG_H

[2022-02-19 04:09] teleshoes opened #326 "top+bottom margins ignored in scroll view"
top+bottom margin works in page-view-mode only. the values have no effect in scroll-view-mode.
left+right margins work in both page-view and scroll-view.

[2022-02-19 04:13] teleshoes commented on #326
use cases:
1) i set bottom margin = 150px to not paint words underneath the android nav bar `<| o []` (pops up annoyingly on waydroid)
2) its also comfortable to hold my phone in such a way that my thumb covers the bottom 100px of my phone, especially in auto-scroll mode
3) separate issue, but this would ALSO provide a decent workaround for the problem of tts-readaloud toolbar covering the bottom

[2022-02-22 07:57] butyoutried commented on #325
Yes, do it please.

[2022-03-08 17:56] teleshoes commented on #326
i would also REALLY love to have the topbar with the clock+battery displayed in scroll-view-mode..

[2022-03-08 17:58] teleshoes commented on #326
@plotn do you have any idea how this could be done? does knownreader by any chance have this feature?

[2022-03-08 19:47] plotn commented on #326
@teleshoes, the scroll mode is seldom used (by community), as far as I know (but some people like). I even did (in KR) the ability "not to switch (internally) in scroll mode while TTS is active". Anyway, you can open issue in KR's repo - I will see if it could be done "not so expensive", but I dont promise the speed
(And I have plans to redesign TTS toolbar too, but it is also a big work (I want t

[2022-03-08 20:00] plotn commented on #319
@C6H7NO2 , this doesnt work (relatively simple) - i still could not find the way to do this, if you'll find the working solution - it could be amazing.

[2022-03-08 20:08] plotn commented on #313
@mcepl, it was implemented in my fork, you could investigate from here (search for "maintenance", "orphan"):
https://github.com/plotn/coolreader/blob/master/android/src/org/coolreader/crengine/ScanLibraryDialog.java
Unfortunally I do not plan to make a PR into upstream, but one could adopt it, if he want.

[2022-03-08 20:51] teleshoes commented on #326
ok, im trying that out right now, thanks! i assumed that TTS wouldnt work in page mode

[2022-03-08 21:07] plotn commented on #326
I've caught your idea, but, be ready - it quite comlex "underneath" )

[2022-03-08 21:32] teleshoes commented on #326
yea, i still see more words of the current selection in scroll-mode, even with the horrible tts toolbar covering 400px of my screen and the android nav-panel refusing to disappear in TTS mode.

my next idea is that i can tweak onSelectionCommand() to do SetPos() if the current selection enters the part of the screen that the toolbar covers

[2022-03-08 21:33] teleshoes commented on #326
it SEEMS like it should be easy to add top+bottom margins to scroll-mode, but i havent been able to do it, and the ui-related code in crengine is scary..

[2022-03-08 22:02] mcepl commented on #313
Why?

[2022-03-08 23:07] plotn commented on #326
Why ever you need to see the text, while you are listening to it?
In KR you can set transparent tts panel and transparent buttons onto it, thus almost everything become visible, maybe it is enough for you?

[2022-03-09 07:06] plotn commented on #313
The codebase became significially different, it is hard manual work. On the other hand - upstream development actually stopped, so this makes no sense, as I guess.

[2022-03-09 08:14] mcepl commented on #313
So, why won’t you publish it as a fork and provide binaries on F-Droid?

[2022-03-09 09:18] plotn commented on #313
@mcepl , this work in progress.
anyway, you could get my binaries if you want from 4pda theme - e.g. https://4pda.to/forum/index.php?s=&showtopic=995536&view=findpost&p=113572389

[2022-03-09 15:24] teleshoes commented on #326
TTS mispronounces many words, especially foreign loan words and proper nouns, and it doesnt pause properly for parentheticals/etc, and the voice gets the wrong inflection for sentences when the usage may be ambiguous. i use TTS somewhere between a regular audiobook and an enhanced auto-scroll.

sometimes i am listening to TTS mostly like an audiobook, and only glance at the screen when the robot l

[2022-03-09 15:50] plotn commented on #281
@roundoutandabout , could you attach the document (for example) ?

[2022-03-09 18:41] plotn commented on #326
I finally have such idea:
1. Clicking outside TTS toolbar will not stop reading;
2. While reading the first two buttons on the toolbar (if visible) and in the menu (usually center tap) will become "show reading toolbar", "stop tts reading".
I think this will be enough.

[2022-03-09 20:45] teleshoes commented on #326
if i understood you, that sounds strictly worse than simply showing the toolbar on tap-anywhere

A) if you want to stop (or pause), you STILL need to click twice
B) if you want to change volume/etc, you need to click THREE times instead of only twice

there is no workflow that will have FEWER clicks in your model.

[2022-03-09 21:29] roundoutandabout commented on #281
@plotn hi, here's the OnionShare link to the document that I have problem with (open with Tor browser):
http://zsxqocejese4lh5o6vsp2n3gjcdoz5wcjboyqqj6fnaq5yqs3lnnrxyd.onion

[2022-03-09 21:38] plotn commented on #326
Okay, need more time to think

[2022-03-10 19:34] plotn commented on #326
@teleshoes , see https://4pda.to/forum/index.php?s=&showtopic=995536&view=findpost&p=113718947
i think the result is what you wanted...

[2022-03-11 04:29] teleshoes commented on #326
yes, you describe exactly what i want, i think! 404 on the apk link tho so i cant test it. any chance you could push it to a branch so i could compile it?

[2022-03-11 06:34] plotn commented on #326
@teleshoes, register at this forum, so 404 will disappear.
Sure, i can push the changes - maybe in the evening.

[2022-03-12 09:47] plotn commented on #326
@teleshoes , see two latest commits:
https://github.com/plotn/coolreader/commit/78f29634ae24ff2d4a2b49565c5597b2a1ac1940

[2022-03-12 10:34] plotn commented on #281
@roundoutandabout , it is written, that onion-site not found (I'm doing under tor, for sure)

[2022-03-12 13:18] roundoutandabout commented on #281
@plotn you're right, sorry. I have updated the link.

[2022-03-12 18:44] plotn commented on #281
скачал, посмотрел. Короче говоря здесь работает не системная кнопка "назад", а внутренняя ReaderAction "назад", которую можно вынести на панель или назначить на тапзону

[2022-03-13 16:43] teleshoes commented on #326
yea, its perfect! love the top-line vs middle behavior.
im gonna tweak it a bit (e.g.: ignore isSpeaking and always toggle ui on middle-click) and pull it into my coolreader fork.
thanks so much for doing this!

[2022-03-13 20:36] roundoutandabout commented on #281
@plotn okay, thanks a lot for looking into this!
Somehow the tap action "Back" didn't work for me at that time, but now I can't reproduce it.
Anyway, I think we can close the issue, thanks again!

[2022-03-13 20:36] #281 closed

[2022-03-15 08:45] plotn commented on #326
@teleshoes , hi! not about this topic, but maybe it would be interesting... see new features:
https://4pda.to/forum/index.php?s=&showtopic=995536&view=findpost&p=113801152

[2022-04-07 22:17] Nikita-Presnov opened #330 "Problem with building for debian 11"
For version cr3.2.58
[code]
For latest git version it wants `libunibreak` version 4.0, but debian 11 repos have only 1.1

Building gives great number of warnings.

[2022-04-08 14:20] efermi opened #331 "A way to specify default font families"
As there is a way to choose default font families there should be a way to specify them. ![Screenshot_20220408_160638](https://user-images.githubusercontent.com/3966555/162442378-6df8b057-a440-4c4d-8be7-ef60f503a989.png)
Otherwise the program picks any font deemed suitable, which may not be what the end user wants.

This inability to specify them also leads to various errors and inconsistencies in

[2022-04-21 17:04] AlexJacobs1977 opened #333 "Dutch translation"
I love coolreader. However, the Dutch (not German)  translation has many errors. I would love to correct them. Please kindly provide the translation file, so I can provide proper translation. I'm unable to find the translation file, despite coolreader menu is able to show Dutch.

[2022-05-06 06:34] Dnkhatri opened #334 "Coolreader has it been abandoned"
@virxkane @buggins

Hi it seems Buggins has disappeared and coolreader abandoned, I know @virxkane does not have access to produce compatible apk but I hope someone can create a github action to make apk so that people can merge commits and create their own apks till or if coolreader is ever revived.

[2022-05-15 19:05] Mathnerd314 commented on #334
There is koreader fork, quite active: https://github.com/koreader/crengine

[2022-05-16 04:38] Dnkhatri commented on #334
Thats the crengine  I am talking about coolreader app  I don't like koreader gui

[2022-05-20 11:47] plotn commented on #333
Hi! You can take it from
https://github.com/buggins/coolreader/tree/master/android/res/values-XX folder

[2022-05-20 11:49] plotn commented on #334
@Dnkhatri, we are alive too (if interested):
https://github.com/plotn/coolreader

[2022-06-05 12:02] AlexJacobs1977 commented on #333
 

I have updated the xml, see attachment. It's an updated version of
values-nl. The language is Dutch (nl). I'm not a programmer, please update coolreader, I use it everyday.
 

Sent: Friday, May 20, 2022 at 1:47 PM
From: "plotn" ***@***.***>
To: "buggins/coolreader" ***@***.***>
Cc: "AlexJacobs1977" ***@***.***>, "Author" ***@***.***>
Subject: Re: [buggins/coolreader] Dutch translation (Issue #3

[2022-06-05 21:42] plotn commented on #333
@AlexJacobs1977, sorry, I dont compile CoolReader directly, but I have applied you file (into my fork called KnownReader), so if you want to try it out - let me know

[2022-06-23 10:55] virxkane opened #338 "License collision"
I recently discovered collision in the license for the CoolReader source code, which seems to violate the project's license.
Examining the README.md file, we see that the license is "GPLv2 only". But in most source files, the comment header says:

[code]

The LICENSE file was missing and only appeared in PR #205. The LICENSE file contains the text of the GPLv2 license.
According to section 9 of GP

[2022-06-23 10:57] virxkane commented on #338
I choose option 1 (set project license to clearly GPLv2 or later) and 2 (update project license to GPLv3 or later), i.e. the one with the most votes.

[2022-06-23 11:19] poire-z commented on #338
(I have no real undestanding of all these licences and legal matters - and no real interest in understanding all that better :) I just want all of us to be able to keep what we have and continue having fun building nice things. I delegate my vote to my KOReader fellows that may understand all this better than me. Also pinging @NiLuJe who contributed to crengine.)

(I also dunno if removing the And

[2022-06-23 11:38] virxkane commented on #338
Thanks. I will add the voting results to the end of the original post.

[2022-06-23 12:13] virxkane commented on #338
@pazos I don't care about copycats scam, I just can't write software in violation of its license :)

[2022-06-23 12:20] pazos commented on #338
Then you're fine and you can keep GPLv2. As far as I understand changing the license to any other could be harder to enforce properly because only the copyright holder is able to do that kind of changes (and that requires the consent of all past contributors, because they were contributing under a different software license and they're the copyright holders of non trivial changes).

Of course most

[2022-06-23 12:37] pazos commented on #338
For the KOReader project, this also matters, since the KOReader license (AGPLv3) is incompatible with the license of the used crengine library (a fork of CoolReader, presumably GPLv2 only), and according to the explanation of a single combined program https://www.gnu.org/licenses/gpl-faq.html#GPLPlugins licenses must be compatible.

I see no problems with any of these cases unless you want mess wi

[2022-06-23 12:38] virxkane commented on #338
Can I use AndroidX in GPLv2 only software?

[2022-06-23 12:56] EXL commented on #338
The first point seems to be the most preferable.

[2022-06-24 06:26] pkb commented on #338
@virxkane, I grant you permission to relicense my bits of code to GPLv2+.

[2022-06-24 07:25] virxkane commented on #338
Thanks. Now I am creating a list of authors to get the opinion of all the other authors.
Also waiting @buggins for explanations & opinion.

[2022-06-25 18:22] ourairquality commented on #338
@virxkane, I grant you permission to relicense my bits of code to GPLv2+ or GPLv3+

[2022-06-26 20:02] S-trace commented on #338
@virxkane, I grant you permission to relicense my bits of code to GPLv2+.

[2022-06-26 20:33] virxkane commented on #338
AUTHORS draft added https://github.com/virxkane/coolreader/blob/einwis/crengine/Tools/getauthors/AUTHORS.draft

[2022-06-26 20:59] virxkane commented on #338
@avnik, @roshavagarga, @plotn, @band-a-prend, @zwim, @norbi24, @Isira-Seneviratne, @Jellby, @t3d, @erosennin, @dbedrenko, @radioxoma, @ErofeevK, @frankyifei, @arthurzam, @City-busz, @Carmina16, @Edward259, @MatoDroid, @slonm, @burunduk, @strn, @cybersphinx, @data-man, @jperon, @macnuts, @probonopd, @chrox, @cramoisi, @bbgordon, @houqp, @robert00s, @hwhw, @ClaudioVZ, @Hzj-jie, @Markismus, @fenuks
Y

[2022-06-26 21:05] fenuks commented on #338
Yes, I do.

[2022-06-26 21:07] erosennin commented on #338
Sure. :) I hereby authorize the use of my work in this repository under GPLv2 or any later version.

[2022-06-26 21:14] band-a-prend commented on #338
I did too tiny contributions. Anyway any licence is applicable to it according to the program author will.

[2022-06-26 21:19] virxkane commented on #338
So you agree with the choice of @buggins? I think he will answer soon, he answered the e-mail earlier.

[2022-06-26 21:23] plotn commented on #338
Yes, I agree

[2022-06-26 21:31] strn commented on #338
Yes, I do authorize.

------- Original Message -------
On Sunday, June 26th, 2022 at 22:59, Aleksey Chernov ***@***.***> wrote:

[2022-06-26 21:53] macnuts commented on #338
I authorize the use of my work mentioned under a "GPLv2 or later" license--Sent from my Android phone with GMX Mail. Please excuse my brevity.On 26.06.2022, 22:59 Aleksey Chernov ***@***.***> wrote:

  @avnik, @roshavagarga, @plotn, @band-a-prend, @zwim, @norbi24, @Isira-Seneviratne, @Jellby, @t3d, @erosennin, @dbedrenko, @radioxoma, @ErofeevK, @frankyifei, @arthurzam, @City-busz, @Carmina16, @Edw

[2022-06-26 22:00] cramoisi commented on #338
Yes

Le dim. 26 juin 2022 à 23:53, macnuts ***@***.***> a écrit :

[2022-06-26 22:12] band-a-prend commented on #338
Yes, I agree his choise.

[2022-06-26 22:48] City-busz commented on #338
Yes, I agree (the metainfo file that I committed has a CC0 license anyway).

[2022-06-26 23:55] cybersphinx commented on #338
Yes.

[2022-06-26 23:58] houqp commented on #338
Yes, I do.

[2022-06-27 00:37] Hzj-jie commented on #338
Ok to me.

.Hzj_jie

On Jun 26, 2022 16:58, QP Hou ***@***.***> wrote:

Yes, I do.

—
Reply to this email directly, view it on GitHub<https://github.com/buggins/coolreader/issues/338#issuecomment-1166685341>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AAJCE3UWQ4H6SIFXFTQAMADVRDVDVANCNFSM5ZT5H3PA>.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-06-27 04:26] roshavagarga commented on #338
Fine by me.

[2022-06-27 06:18] chrox commented on #338
Yes, I do authorize. Both GPLv2+ and GPLv3+ will be OK for me.

[2022-06-27 06:20] slonm commented on #338
Yes, I do for any license

[2022-06-27 06:23] zwim commented on #338
Yes, I authorize the change as long it may be used in KOReader.

[2022-06-27 06:53] jperon commented on #338
Yes, I authorize the change to any license as long it may be used in KOReader.

[2022-06-27 07:19] Jellby commented on #338
Yes, fine with me.

[2022-06-27 10:22] t3d commented on #338
I authorize the use of my work in this repository under GPLv2 or any later license version

[2022-06-27 15:56] Markismus commented on #338
Yes, I do.

[2022-06-28 02:52] Edward259 commented on #338
Yes,I do.
&nbsp;
&nbsp;
------------------ Original ------------------
From: &nbsp;"Aleksey ***@***.***&gt;;
Date: &nbsp;Mon, Jun 27, 2022 04:59 AM
To: ***@***.***&gt;;
Cc: ***@***.***&gt;; ***@***.***&gt;;
Subject: &nbsp;Re: [buggins/coolreader] License collision (Issue #338)

&nbsp;

@avnik, @roshavagarga, @plotn, @band-a-prend, @zwim, @norbi24, @Isira-Seneviratne, @Jellby, @t3d, @erosennin, @db

[2022-06-28 17:31] frankyifei commented on #338
Yes, I am happy with GPL v2 or other copyleft license

[2022-07-02 17:08] robert00s commented on #338
Yes, I agree

niedz., 26 cze 2022 o 22:59 Aleksey Chernov ***@***.***>
napisał(a):

[2022-07-03 20:56] radioxoma commented on #338
Yes. You can use my contribution to this project as public domain without attribution.

[2022-07-04 15:18] S-trace commented on #338
Yes, I authorize this.

[2022-07-04 15:41] virxkane commented on #338
A little more than a week ago we talked to @buggins by e-mail, but now it's quiet, but without his opinion all this makes no sense.

Of course, I'll wait for another while...

[2022-07-06 06:15] soloturn opened #340 "touch screen gesture"
coolreader is a cool reader  application. when running in gnome i was wondering how to go to the next page with a touch screen gesture.

[2022-07-22 12:08] soloturn commented on #333
which link is knownreader on?

[2022-07-25 08:51] plotn commented on #333
https://4pda.to/forum/index.php?showtopic=995536

[2022-08-10 17:19] dbedrenko commented on #338
Yes, no problem. Sorry for late response

[2022-08-18 17:57] ErofeevK commented on #338
Yes,  No problem with that.

On Thu, Aug 11, 2022 at 12:20 AM Daniel Bedrenko ***@***.***>
wrote:

[2022-08-22 19:23] virxkane commented on #338
@ErofeevK

Sorry, but I'm not sure that I understood you correctly, most likely you made a mistake when quoting.
To be very clear, please write if you agree to the use of your work in this repository under the terms of GPLv2 or later, and not GPLv2 only.

[2022-08-22 19:26] virxkane commented on #338
Still waiting for @buggins :)
Looks like a great vacation :)

[2022-08-27 11:53] data-man commented on #338
Yes, no problem.

[2022-08-30 10:29] ErofeevK commented on #338
I agree to the use of my commits in this repository under the terms of
GPLv2 or later.

On Tue, Aug 23, 2022 at 2:24 AM Aleksey Chernov ***@***.***>
wrote:

[2022-08-30 10:37] virxkane commented on #338
@ErofeevK Thanks

[2022-10-11 08:34] macnuts commented on #338
I authorize the use of my work mentioned under a "GPLv2 or later" license--Sent from my Android phone with GMX Mail. Please excuse my brevity.On 26.06.2022, 22:59 Aleksey Chernov ***@***.***> wrote:

  @avnik, @roshavagarga, @plotn, @band-a-prend, @zwim, @norbi24, @Isira-Seneviratne, @Jellby, @t3d, @erosennin, @dbedrenko, @radioxoma, @ErofeevK, @frankyifei, @arthurzam, @City-busz, @Carmina16, @Edw

[2022-10-11 10:01] buggins commented on #338
I agree to use my commits in this repository under the terms of "GPLv2 or later" license

[2022-10-11 10:33] virxkane commented on #338
Thank you!

[2022-10-13 13:33] avnik commented on #338
@buggins I am agreed to relicense under GPLv2 or later. But it also was work-for-hire (I was hired to implement some stuff for coolreader by third party, idk if it matter or not)

[2022-11-11 15:15] hwhw commented on #338
I agree to use my commits in this repository under the terms of "GPLv2 or later" license.

Sorry for being very late to the party here.

[2022-11-25 13:11] #338 closed